{
  "extends": [
    "standard",
    "standard-react",
    "prettier/react",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "plugins": [
    "jest",
    "@typescript-eslint"
  ],
  "rules": {
    "quotes": [
      "error",
      "double"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 2,
        "maxEOF": 1
      }
    ],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "react/prop-types": [
      0
    ]
  },
  "env": {
    "jest/globals": true
  },
  "globals": {
    "fetch": true,
    "Headers": true
  }
}